.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline-container::after {
    background-color: rgb(98, 217, 199);
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
    border-radius: 4px;
}
